<div class="page-header text-center">
    <h1>{{foto.titulo}}</h1>
</div>

<p ng-show="mensagem.length" class="alert alert-info">{{mensagem}}</p>

<!-- quando apertar o botão submit o angular vai usar a diretiva ng-submit
e rodar o programa submeter() e capturo os dados no console
No javascript seria o onSubmit -->
<!-- novalidate vc está desabilitando a validação do html5 -->
<form novalidate name="formulario" class="row" ng-submit="submeter()">
    <div class="col-md-6">
        <div class="form-group">
            <label>Título</label>
            <input ng-model="foto.titulo" name="titulo" class="form-control" required ng-maxlength="20">
            <span ng-show="formulario.$submitted && formulario.titulo.$error.required" class="form-control alert-danger">
                Título obrigatório
            </span>
            <span ng-show="formulario.$submitted && formulario.titulo.$error.maxlength" class="form-control alert-danger">
                Título com 20 caracteres no máximo
            </span>
        </div>
        <div class="form-group">
            <label>URL</label>
            <input ng-model="foto.url" name="url" class="form-control" required>
            <span ng-show="formulario.$submitted && formulario.url.$error.required" class="form-control alert-danger">
                Url obrigatório
            </span>
        </div>
        <div class="form-group">
            <label>Descrição</label>
            <textarea ng-model="foto.descricao" name="descricao" class="form-control">
                </textarea>
        </div>

        <!-- seleção do tipo -->
        <div class="form-group">
            <label>Grupo</label>

            <!-- apesar de foto.html pertencer foto-controller.js, posso apontar meu select para grupos-controller.js -->
            <!-- ng-options o grupo_id seria meu valor e o grupo nome é a opção que o usuário vê -->
            <select name="grupo" class="form-control" ng-controller="GruposController" 
            ng-model="foto.grupo" 
            ng-options="grupo._id as (grupo.nome | uppercase)  for grupo in grupos"
            required>
                <option value="">Selecione Grupo</option>
            </select>
            <span ng-show="formulario.$submitted && formulario.grupo.$error.required" class="form-control alert-danger">
                Grupo obrigatório
            </span>
        </div>

        <button type="submit" class="btn btn-primary" ng-disabled="formulario.$invalid">
            Salvar
        </button>
        <!-- se eu tenho um elemento que tem minha diretiva meuFocus e meu atributo focado é verdade, meu elemento ganhará o focu -->
        <a href="/" class="btn btn-primary" meu-focus >Voltar</a>
        <hr>
    </div>
    
    <div class="col-md-6">
        <minha-foto url="{{foto.url}}" titulo="{{foto.titulo}}"></minha-foto>
    </div>
</form>