<div class="jumbotron">
    <h1 class="text-center">Alurapic</h1>
</div>

<p ng-show = "mensagem.length" class="alert alert-info" >{{mensagem}}</p>

<div class="row">
    <div class="col-md-12">
        <form>
            <div class="input-group">
                <span class="input-group-btn">
                    <a href="fotos/new" class="btn btn-primary">Nova foto</a>
                </span>
                <!-- ng-model-options para aplicar um delay de 500ms-->
                <input ng-model="filtro" ng-model-options="{debounce: 500}" class="form-control" placeholder="filtrar">
            </div>
        </form>
    </div>
</div>

<div class="row">
    <!-- O ideal é colocar todas as classes nesta minha tag personalizada e NÃO na div que vem do templateUrl (meu-painel.html) -->
    <!-- O efeito só funcionou desta maneira -->
    <meu-painel class="panel panel-default col-md-2 painel-animado" ng-repeat="foto in fotos | filter: filtro" titulo="{{foto.titulo}}">

        <img class="img-responsive center-block" src="{{foto.url}}" alt="{{foto.titulo}}">

        <!-- âncora para o botão editar -->
        <a href="fotos/edit/{{foto._id}}" class="btn btn-primary btn-block">Editar</a>

        <meu-botao-perigo acao="remover(foto)" nome="Remover"></meu-botao-perigo>
        
    </meu-painel>
</div><!-- fim row -->